@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mt-5">Welcome to Qenergy</h1>
    <p class="mt-3">Please login to continue. <a asp-controller="Account" asp-action="Login">Login</a>.</p>
</div>
