@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mt-5 fw-bold">Welcome to qEnergy</h1>
    <p class="mt-3">Get a fuel quote!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body">
                <h5 class="card-title text-center">STEP 1</h5>
                <p class="card-text">Login in to account or create an account with us.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body">
                <h5 class="card-title text-center">STEP 2</h5>
                <p class="card-text">Navigate over to the Fuel Quote Form and enter your information.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body">
                <h5 class="card-title text-center">STEP 3</h5>
                <p class="card-text">Review all your fuel quotes in the history page.</p>
            </div>
        </div>
    </div>
</div>